<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<style type="text/css"></style>
	<title>Login </title>
</head>
<body>
<link rel="stylesheet" type="text/css" href="C:/Users/abhij/djangoBooks/store/templates/static/css/style.css">
<div class="login-box">
  <h2>Login</h2>
  <form>
    <div class="user-box">
      <input type="text" name="" required="">
      <label>Username</label>
    </div>
    <div class="user-box">
      <input type="password" name="" required="">
      <label>Password</label>
    </div>
    <a href="#">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Submit
    </a>
  </form>
</div>

</body>