{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>STORE HOME PAGE</title>
<style>


</style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href={% static 'css/main.css' %}>
</head>
<body>

    {%  include 'accounts/navbar.html' %}
    {% block content %}
    
        
    {% endblock %}

    <hr style="width:50%;text-align:left;margin-left:0">
    <h5>Our footer</h5>
</body>
</head>
</html>    
    
